.git
.github
.venv
.vscode
.env
dist
tmp
02_docs
04_tests
05_management
06_defense
03_devops/deployment
03_devops/k8s
03_devops/scripts
__pycache__/
*.py[cod]
node_modules/
staticfiles/
*.log
*.zip
selenium-received.png
runserver.out.log
runserver.err.log
result.txt
postman_test_script.txt
test.js
selenium-run.js
db.sqlite3
